.register {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  background-color: rgb(98, 98, 113);
  padding: 25px 20px;
  gap: 6px;
}

.register-form input {
  width: 100%;
  border: none;
  padding: 10px 7px;
  border-radius: 3px;
  outline: none;
}

.register-form button {
  width: 100%;
  padding: 7px;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  cursor: pointer;
}
